*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.nav{
    display: flex;align-items: center;justify-content: space-between;flex-wrap: wrap; padding: 30px;margin-top: 50px; background-color: rgba(218, 192, 192, 0.573);
    position: sticky;
}
ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;

}

.blur-bg-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    pointer-events: none;
    backdrop-filter: blur(6px);
    transition: .2s ease-in;
}

.show-popup .blur-bg-overlay {
    opacity: 1;
    pointer-events: auto;
}

        .form-popup {
            position: fixed;
            top: 50%;
            left: 50%;
            max-width: 720px;
            width: 100%;
            border: 2px solid #410202;
            background: #faf3f3;
            opacity: 0;
            pointer-events: none;
            transform: translate(-50%, -100%);
            z-index: 80000;
        }

        .show-popup .form-popup {
            opacity: 1;
            pointer-events: auto;
            transform: translate(-50%, -50%);
            transition: transform 0.3s ease, opacity 0.1s;
        }

        .form-popup .close-btn {
            position: absolute;
            top: 12px;
            right: 12px;
            color: #717171;
            cursor: pointer;
        }

        .form-popup .form-box {
            display: flex;
        }

        .form-box .form-details {
            max-width: 330px;  
            width: 100%; 
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: center;
            align-items: center;
            color: #fff;
        }

        .login .form-details {
            background: url(./download\ \(6\).jpg);
            background-size: cover;
            background-position:center;
        }

        .signup .form-details {
            background: url(./rest.jpg);
            background-size: cover;
            background-position:center;
        }

        .form-box h2 {
            text-align: center;
            margin-bottom: 30px;
        }

        .form-box .form-content {
            width: 100%;
            padding: 35px;
        }

        form .input-field {
            height: 50px;
            margin-top: 20px;
            width: 100%; 
            position: relative;   
        }

        form .input-field input {
            width: 100%;
            height: 100%;
            font-size: 0.95rem;
            border: 1px solid #999;
            outline: none;
            border-radius: 10px;
            padding: 0 15px;
        }

        .input-field input:focus {
            border-color: #00bcd4;
        }

        .input-field input:is(:focus, :valid){
            padding: 16px 15px 0    ;
        }

        .input-field label {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: 15px;     
            pointer-events: none;
            color: #717171;
            transition: .5s;
        }

        .input-field input:is(:focus, :valid) ~ label {
            transform: translateY(-120%);
            color: #00bcd4;  
            font: 0.75rem;
        }

        .form-box a {
            color: #00bcd4;
            text-decoration: none;
        } 

        .form-box a:hover {
            text-decoration: underline;
            color: #d61212;
        }

        .form-box :where(.forgot-password, .policy-text) {
            display: inline-flex;
            margin-top: 14px;
            font-size: 0.98rem ;
        }

        form button {
            width:100%;
            outline: none;
            border: none;
            font-size: 1.5rem;
            font-weight: 500;
            border-radius: 20px;
            padding: 15px;
            background: #00bcd4;
            color: #fff;
            cursor: pointer; 
            margin: 15px auto 15px;
            transition: .5s ease;
        }

        form button:hover {
            background: #026c7a;
        }

        .bottom-link {
            text-align: center;
        }

        .form-popup .signup,
        .form-popup.show-signup .login {
            display: none;
        }

        .form-popup.show-signup .signup {
            display: flex;
        }

        .policy-text {
            display: flex;
            align-items: center;
        }

        .policy-text input {
            width: 14px;
            height: 14px;
            margin-right: 7px;
        }
        ul li a{
    text-decoration: none;color: #000000;font-size: 20px;
    font-weight: 500;transition: all 0.3s ease-in-out;position: relative;
}

ul li a::after{
    content: '';
    width: 1%;
    height: 3px;
    background:#ff0000;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: all 0.5s;
    border-radius: 5px;
}

ul li a:hover::after{
    width: 100%;
}


i{  
    font-size: 30px;
    margin: 0 10px;
    color: #7c0e0ec4;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    position: relative;
    /* place-items: center; */
    margin-right: 50px;
}

i::after{
    content: '';
    width: 0%;
    height: 3px;
    background:#ff0000;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: all 0.5s;
    border-radius: 5px;
    color: white;
}

i:hover::after{
    width: 100%;
}

.social{
    display: flex;
    gap: 40px ;
}
.social a{
    background-color: #fffffff8;
    padding: 1em;
    border-radius: 50%;
    height: 64px;
    width: 64px;
    box-sizing: border-box;
    flex-shrink: 0;
    /* display: grid; */
    /* place-items: center; */
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
    color: white;
}
.social a svg{
    height: 32px;
    fill: rgb(237, 235, 235);
}

.social a::before{
    content: attr(data-social);
    position: absolute;
    background-color: var(--accent-color);
    color: white;
    text-decoration: none;
    padding: 10px;
    margin-right: 30px;
    border-radius: 100px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.05);
    transform: translateY(-30px) rotate(25deg);
    opacity: 0;
    transition: 200ms cubic-bezier(0.48, 0.28, 0.24, 1.62);
}

.social a:hover{
    background-color: var(--accent-color);
    fill: white;
    color: white;
}

.social a:hover svg{
    fill: white;
}

.social a::after{
    content: '';
    position: absolute;
    height: 0;
    width: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 10px solid var(--accent-color);
    transform: translateY(0) rotate(25deg);
    opacity: 0;
    transition: 200ms ease;
    color: white;
}

.social a:hover::before{
    transform: translateY(-65px) rotate(0);
    opacity: 1;

}

.social a:hover::after{
    transform: translateY(-42px) rotate(0);
    opacity: 1;
    fill: white;
}

.hero{
    display: flex;
    background-color: rgba(255, 228, 196, 0.527);
    padding: 2%;
}

.text-1{
    background-color: rgba(167, 167, 244, 0.451);
    width: 50%;
    height: 620px;
    /* display: flex; */
    padding: 80px;
}

.hot{
    display: flex;
    width: 156px;
    background-color: #fffefe;
    padding: 15px;
    border-radius: 40px;
    border: 2px solid black ;
    gap: 0.7rem ;
}

.hot img{
    width: 20px;
}

.hot h1{
    font-size: 32px;
}

.cdl{
    width: 520px;
    height: 77px;
    top: 277px;
    left: 130px;
    /* background-color: rgba(131, 131, 255, 0.793); */
}

.cdl h1{
    font-family: Arial, Helvetica, sans-serif;    
    font-weight: 600px;
    font-size: 64px;
    letter-spacing: -4%;
}

.cdl p{
    width: 590px;
    height: 56px;
    margin-top: 45px;
    margin-left: 13px;
}
.time{
    width: 500px;
    height: 50px;
    top: 541px;
    left: 130px;
    background-color: #000000;
    border-radius: 40px;
    /* padding: 10px; */
    display: flex;
    justify-content: center;
    margin-left: 10px;
}

.time i{
    color: #fffffff8;
}
.clock{
    /* display: flex; */
    width: 100%;
    height: 100%;
    margin-left: 20px;
    display: flex;
    align-items: center;
}

.clock h4{
    color: #fffffff8;
    font-size: 20px;
    /* margin-left:  */
}
.knife{
    width: 100%;
    height: 100%;
    margin-left: 20px;
    display: flex;
    align-items: center;
}
.knife h4{
    color: #fffffff8;
    font-size: 20px;
    /* margin-left:  */
}

.dg{
    display: flex;
    padding: 10px;
}
.dg1{
    display: flex;
    width: 280px;
    /* height: 690px; */
    /* padding: 2px; */
    border-radius: 20px;
    /* background-color: #000000; */
    height: 50px;
    margin-top: 61px;
    margin-left: 10px;
    border: 2px solid black;
}
.dg img{
    border-radius: 30px;
    padding: 10px;
}

.dg1 h3{
    color: rgb(0, 0, 0);
    padding: 5px;
}

.dg2{
    margin-top: 50px;
    display: flex;
    margin-left: 40px;
    background-color: #000000;
    padding: 5px;
    border-radius: 25px;
}

.dg2 img{
    width: 60px;
    height: 60px;
}

.dg2 h3{
    color: rgb(255, 255, 255);
    padding: 5px;
    margin-left: 6px;
}

.text2{
    width: 200px;
    display: flex;
    z-index: -1;
}

.text2 img{
    width: 200px;
    height: 200px;
    animation: rotate 3s linear infinite;
    border-radius: 90px;
    z-index: -1;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.nav a{
    text-decoration: none;
}


.categories-1{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    padding: 20px;
}

.categories-1 h1{
    font-size: 45px;
    font-weight: bold;
    color: #000000;
    /* margin-left: 20px; */
}
.view{
    background-color: aqua;
    padding: 10px;
    border-radius: 10px;
    border: 2px solid rgba(0, 0, 0, 0.234);
}

.cart-item{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    animation: scroll 4s linear infinite;
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100%{
        transform: translateX(-50%);
    }
}
.cart-item-1{
    object-fit: cover;
}

.simple{
    /* width: 526px;
    height: 58px; */
    margin-top: 30px;
    justify-content: center;
    align-items: center;
    /* margin-left: 30px; */
}

.simple h1{
    align-items: center;
    justify-content: center;
    align-content: center;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 50px;
    
}

.simple p{
    text-align: center;
    font-weight: bold;
    font-size: 20px;
}



.slider{
    width: 100%;
    overflow: hidden;
    background: transparent;
}

.slider:hover .cart-item{
    animation-play-state: paused;
}

.bb {
    position: relative;
    width: 400px;
    height: 230px;
    /* background-color: #000000; */
    overflow: hidden;

}

.background{
    position: absolute;
    top: 0;
    left: 0;
    /* width: 100%; */
    /* height: 100%; */
    object-fit: contain;
    z-index: 0;
}

.content{
    position: relative;
    z-index: 1;
    color: #fffefe;
    padding: 20px;
}

.content i{
    margin-left: 290px;
}

.big h4{
    font-size: 30px;
    color: #000000;
}

.dwn{
    display: flex;
    /* background-color: #000000; */
    width: 390px;
}

.dwn h6{
    font-size: 16px;
    color: rgb(0, 0, 0);
}

.frame-1{
    border: 2px solid whitesmoke;
    border-radius: 20px;
    width: 420px;
    background-color: #ff00003f;
    padding: 20px;
    margin-left: 20px;
}

.frame11{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    width: 200px;
    gap: 4rem ;
}

.frame22{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    width: 200px;
    gap: 4rem ;
}

.frame33{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    width: 200px;
    gap: 4rem ;
}
.frame{
    /* display: flex; */
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    width: 200px;
}

.frame img{
    width: 95%;
}
.frame-1 i{
    color: #000000;
}

/* #heart{
    animation: heartBeat;
    position: absolute;
    top: 10px;
    right: 50px;
    cursor: pointer; */
/* } */

.heart-check{
    display: none;
}

.heart-label{
    position: absolute;
    top: 10px;
    right: 40px;
    width: 30px;
    height: 30px;
    cursor: pointer;
    font-size: 30px;
}

.heart-label::before{
    content: "❤";
    font-size: 24px;
    /* color: #333; */
    display: inline-block;
    transition: all 0.3 ease;
}

.heart-check:checked + .heart-label::before{
    content: "❤";
    color: #ff0000;
    animation: popHeart 0.4s ease;
}

@keyframes popHeart {
    0%{
        transform: scale(1);
    }
    40%{
        transform: scale(3);
    }
    60%{
        transform: scale(1.3);
    }
    100%{
        transform: scale(1);
    }
}

.heart-check1{
    display: none;
}

.heart-labels1{
    position: absolute;
    top: 10px;
    right: 0px;
    width: 30px;
    height: 30px;
    cursor: pointer;
    font-size: 30px;
}


.heart-labels::before{
    content: "❤";
    font-size: 24px;
    /* color: #333; */
    display: inline-block;
    transition: all 0.3 ease;
}

.heart-check1:checked + .heart-labels::before{
    content: "❤";
    color: #ff0000;
    animation: popHeart 0.4s ease;
}

@keyframes popHeart {
    0%{
        transform: scale(1);
    }
    40%{
        transform: scale(3);
    }
    60%{
        transform: scale(1.3);
    }
    100%{
        transform: scale(1);
    }
}

.heart-check2{
    display: none;
}

.heart-labels2{
    position: absolute;
    top: 10px;
    right: 40px;
    width: 30px;
    height: 30px;
    cursor: pointer;
    font-size: 30px;
}


.heart-labels2::before{
    content: "❤";
    font-size: 24px;
    /* color: #333; */
    display: inline-block;
    transition: all 0.3 ease;
}

.heart-check2:checked + .heart-labels2::before{
    content: "❤";
    color: #ff0000;
    animation: popHeart 0.4s ease;
}

@keyframes popHeart {
    0%{
        transform: scale(1);
    }
    40%{
        transform: scale(3);
    }
    60%{
        transform: scale(1.3);
    }
    100%{
        transform: scale(1);
    }
}


.heart-check3{
    display: none;
}

.heart-labels3{
    position: absolute;
    top: 10px;
    right: 40px;
    width: 30px;
    height: 30px;
    cursor: pointer;
    font-size: 30px;
}


.heart-labels3::before{
    content: "❤";
    font-size: 24px;
    /* color: #333; */
    display: inline-block;
    transition: all 0.3 ease;
}

.heart-check3:checked + .heart-labels3::before{
    content: "❤";
    color: #ff0000;
    animation: popHeart 0.4s ease;
}

@keyframes popHeart {
    0%{
        transform: scale(1);
    }
    40%{
        transform: scale(3);
    }
    60%{
        transform: scale(1.3);
    }
    100%{
        transform: scale(1);
    }
}

.heart-check4{
    display: none;
}

.heart-labels4{
    position: absolute;
    top: 10px;
    right: 40px;
    width: 30px;
    height: 30px;
    cursor: pointer;
    font-size: 30px;
}


.heart-labels4::before{
    content: "❤";
    font-size: 24px;
    /* color: #333; */
    display: inline-block;
    transition: all 0.3 ease;
}

.heart-check4:checked + .heart-labels4::before{
    content: "❤";
    color: #ff0000;
    animation: popHeart 0.4s ease;
}

@keyframes popHeart {
    0%{
        transform: scale(1);
    }
    40%{
        transform: scale(3);
    }
    60%{
        transform: scale(1.3);
    }
    100%{
        transform: scale(1);
    }
}

.heart-check5{
    display: none;
}

.heart-labels5{
    position: absolute;
    top: 10px;
    right: 40px;
    width: 30px;
    height: 30px;
    cursor: pointer;
    font-size: 30px;
}


.heart-labels5::before{
    content: "❤";
    font-size: 24px;
    /* color: #333; */
    display: inline-block;
    transition: all 0.3 ease;
}

.heart-check5:checked + .heart-labels5::before{
    content: "❤";
    color: #ff0000;
    animation: popHeart 0.4s ease;
}

@keyframes popHeart {
    0%{
        transform: scale(1);
    }
    40%{
        transform: scale(3);
    }
    60%{
        transform: scale(1.3);
    }
    100%{
        transform: scale(1);
    }
}

.heart-check6{
    display: none;
}

.heart-labels6{
    position: absolute;
    top: 10px;
    right: 40px;
    width: 30px;
    height: 30px;
    cursor: pointer;
    font-size: 30px;
}


.heart-labels6::before{
    content: "❤";
    font-size: 24px;
    /* color: #333; */
    display: inline-block;
    transition: all 0.3 ease;
}

.heart-check6:checked + .heart-labels6::before{
    content: "❤";
    color: #ff0000;
    animation: popHeart 0.4s ease;
}

@keyframes popHeart {
    0%{
        transform: scale(1);
    }
    40%{
        transform: scale(3);
    }
    60%{
        transform: scale(1.3);
    }
    100%{
        transform: scale(1);
    }
}

.heart-check7{
    display: none;
}

.heart-labels7{
    position: absolute;
    top: 10px;
    right: 40px;
    width: 30px;
    height: 30px;
    cursor: pointer;
    font-size: 30px;
}


.heart-labels7::before{
    content: "❤";
    font-size: 24px;
    /* color: #333; */
    display: inline-block;
    transition: all 0.3 ease;
}

.heart-check7:checked + .heart-labels7::before{
    content: "❤";
    color: #ff0000;
    animation: popHeart 0.4s ease;
}

@keyframes popHeart {
    0%{
        transform: scale(1);
    }
    40%{
        transform: scale(3);
    }
    60%{
        transform: scale(1.3);
    }
    100%{
        transform: scale(1);
    }
}

.heart-check8{
    display: none;
}

.heart-labels8{
    position: absolute;
    top: 10px;
    right: 40px;
    width: 30px;
    height: 30px;
    cursor: pointer;
    font-size: 30px;
}


.heart-labels8::before{ 
    content: "❤";
    font-size: 24px;
    /* color: #333; */
    display: inline-block;
    transition: all 0.3 ease;
}

.heart-check8:checked + .heart-labels8::before{
    content: "❤";
    color: #ff0000;
    animation: popHeart 0.4s ease;
}

@keyframes popHeart {
    0%{
        transform: scale(1);
    }
    40%{
        transform: scale(3);
    }
    60%{
        transform: scale(1.3);
    }
    100%{
        transform: scale(1);
    }
}

.heart-check9{
    display: none;
}

.ndpart{
    width: 100%;
    display: flex;
    background-color: #00000051;
    padding: 20px;
    margin-top: 40px;
    border-radius: 20px;
}

.text-jj{
    width: 50%;
    height: 100%;
    padding: 20px;
    color: #fffffff8;
}

.text-jj h1{
    font-size: 90px;
    font-weight: bold;
    color: #fffffff8;
}

.text-jj p{
    font-size: 30px;
    color: #fffffff8;
    margin-top: 20px;
}
.nd-part-1{
    display: flex;
}

.page-ig-pic{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.page-ig{
    width: 100%;
    height: 100%;
    display: inline-block;
    justify-content: center;
    align-items: center;
    padding: 20px;
    text-align: center;
    margin-top: 300px;
}

.page-ig h1{
    font-size: 50px;
}

.page-ig p{
    font-size: 20px
}
.pic-1{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ig-link{
    align-items: center;
    width: 400px;
    background-color: #000000;
    justify-content: center;
    margin: auto;
    padding: 20px;
    border-radius: 20px;
    display: flex;
    margin-top: 30px;
    gap: 20px;
}

.ig-link a{
    text-decoration: none;
    color: #fffffff8;
    font-size: 20px;
    font-weight: bold;
}

.ig-link a:hover{
    color: #ff0000;
}


.recp{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    width: 100%;
    gap: 90px;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    padding: 20px;
}

.recp h1{
    font-size: 45px;
}

.recp p{
    font-size: 20px;
    margin-top: 20px;
}

/* .down-slider{
    display: ; */
/* } */

.heart-check9{
    display: none;
}

.heart-label9{
    position: absolute;
    top: 10px;
    right: 40px;
    width: 30px;
    height: 30px;
    cursor: pointer;
    font-size: 30px;
}

.heart-label9::before{
    content: "❤";
    font-size: 24px;
    /* color: #333; */
    display: inline-block;
    transition: all 0.3 ease;
}

.heart-check9:checked + .heart-label9::before{
    content: "❤";
    color: #ff0000;
    animation: popHeart 0.4s ease;
}

@keyframes popHeart {
    0%{
        transform: scale(1);
    }
    40%{
        transform: scale(3);
    }
    60%{
        transform: scale(1.3);
    }
    100%{
        transform: scale(1);
    }
}

.heart-check10{
    display: none;
}

.heart-label10{
    position: absolute;
    top: 10px;
    right: 40px;
    width: 30px;
    height: 30px;
    cursor: pointer;
    font-size: 30px;
}

.heart-label10::before{
    content: "❤";
    font-size: 24px;
    /* color: #333; */
    display: inline-block;
    transition: all 0.3 ease;
}

.heart-check10:checked + .heart-label10::before{
    content: "❤";
    color: #ff0000;
    animation: popHeart 0.4s ease;
}

@keyframes popHeart {
    0%{
        transform: scale(1);
    }
    40%{
        transform: scale(3);
    }
    60%{
        transform: scale(1.3);
    }
    100%{
        transform: scale(1);
    }
}

.heart-check11{
    display: none;
}

.heart-label11{
    position: absolute;
    top: 10px;
    right: 40px;
    width: 30px;
    height: 30px;
    cursor: pointer;
    font-size: 30px;
}

.heart-label11::before{
    content: "❤";
    font-size: 24px;
    /* color: #333; */
    display: inline-block;
    transition: all 0.3 ease;
}

.heart-check11:checked + .heart-label11::before{
    content: "❤";
    color: #ff0000;
    animation: popHeart 0.4s ease;
}

@keyframes popHeart {
    0%{
        transform: scale(1);
    }
    40%{
        transform: scale(3);
    }
    60%{
        transform: scale(1.3);
    }
    100%{
        transform: scale(1);
    }
}

.heart-check12{
    display: none;
}

.heart-label12{
    position: absolute;
    top: 10px;
    right: 40px;
    width: 30px;
    height: 30px;
    cursor: pointer;
    font-size: 30px;
}

.heart-label12::before{
    content: "❤";
    font-size: 24px;
    /* color: #333; */
    display: inline-block;
    transition: all 0.3 ease;
}

.heart-check12:checked + .heart-label12::before{
    content: "❤";
    color: #ff0000;
    animation: popHeart 0.4s ease;
}

@keyframes popHeart {
    0%{
        transform: scale(1);
    }
    40%{
        transform: scale(3);
    }
    60%{
        transform: scale(1.3);
    }
    100%{
        transform: scale(1);
    }
}

.message{
    /* display: flex; */
    justify-content: space-between;
    margin-top: 50px;
    width: 1520px;
    gap: 90px;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    padding: 40px;
    border: 2px solid black;
    border-radius: 20px;
    background: linear-gradient(to right, #b54b04, #0e0e07);
    /* background-color: #00000051; */
}
.message img{
    width: 100px;
    height: 100%;

    object-fit: fill;
}
.message h1{
    font-size: 65px;
    color: #fffffff8;
    font-weight: bold;
}

.m{
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 90px;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    padding: 20px;
}

.m input{
    font-size: 30px;
    /* margin: 0 10px; */
    color: #7c0e0ec4;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    position: relative;
    /* place-items: center; */
    /* margin-right: 50px; */
    width: 600px ;
    height: 50px;
    padding: 20px;
    border: 4px solid black;
}
.m input::placeholder{
    color: #7c0e0ec4;
    font-size: 20px;
}

.m input:hover::after{
    width: 100%;
}

.m input:focus{
    border-color: #00bcd4;
}

.m input:focus::placeholder{
    color: #00bcd4;
}

.m button{
    width:130px;
    outline: none;
    border: none;
    font-size: 1.5rem;
    font-weight: 500;
    border-radius: 20px;
    padding: 15px;
    background: #00bcd4;
    color: #fff;
    cursor: pointer; 
    /* margin: 15px auto 15px; */
    transition: .5s ease;
}

.message p{
    font-size: 20px;
    color: #fffffff8;
    margin-top: 20px;
}

.heart-check16{
    display: none;
}

.heart-label16{
    position: absolute;
    top: 10px;
    right: 40px;
    width: 30px;
    height: 30px;
    cursor: pointer;
    font-size: 30px;
}

.heart-label16::before{
    content: "❤";
    font-size: 24px;
    /* color: #333; */
    display: inline-block;
    transition: all 0.3 ease;
}

.heart-check16:checked + .heart-label16::before{
    content: "❤";
    color: #ff0000;
    animation: popHeart 0.4s ease;
}

@keyframes popHeart {
    0%{
        transform: scale(1);
    }
    40%{
        transform: scale(3);
    }
    60%{
        transform: scale(1.3);
    }
    100%{
        transform: scale(1);
    }
}

.heart-check22{
    display: none;
}

.heart-label22{
    position: absolute;
    top: 10px;
    right: 40px;
    width: 30px;
    height: 30px;
    cursor: pointer;
    font-size: 30px;
}

.heart-label22::before{
    content: "❤";
    font-size: 24px;
    /* color: #333; */
    display: inline-block;
    transition: all 0.3 ease;
}

.heart-check22:checked + .heart-label22::before{
    content: "❤";
    color: #ff0000;
    animation: popHeart 0.4s ease;
}

@keyframes popHeart {
    0%{
        transform: scale(1);
    }
    40%{
        transform: scale(3);
    }
    60%{
        transform: scale(1.3);
    }
    100%{
        transform: scale(1);
    }
}

.role-select {
    width: 80%;
    padding: 14px;
    background: #fff;
    color: #333;
    border-radius: 10px;
    border: none; outline: none;
    font-size: 16px;
    margin-bottom: 20px;
}

.error-message {
    padding: 10px;
    background: #a6eeee;
    border-radius: 6px;
    font-size: 16px; 
    color: red;
    text-align: center;
    margin-bottom: 20px;
}